<header class="header">
    <div class="offer-banner">
        <p>Free Standard Shipping on orders over $99.99</p>
    </div>
    <div class="container header-container my-2">
        <nav>
            <ul class="page-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Consultation</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="container banner-container my-2">
    <div class="banner">
        <p>new</p>
        <h1 class="text-primary">All Natural Products</h1>
        <div>A healthier you from the inside out. We’ve sourced the cleanest ingredients to create a line of clean skin care treatments that leave you feeling your best</div>
        <button class="btn-primary">shop products</button>
    </div>
</section>